.main-header {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;

  // background: yellow;
}

.logo {
  width: 25%;
  min-width: 10rem;
  max-width: 15rem;
  // background: lightblue;
}

.main-nav {
  display: none;
  width: 60%;
  // background: pink;
}
