/* will take this out of closing argument section because 
we might re-use this in other sections as the site builds up */
// .title-box {
//   background: $accent;
//   color: $text-inverse;
//   margin: 0 auto;
//   padding: 2em; // use em whenever the element has its own font size;
//   transform: translateY(50%); // move down by half of the box height
//   max-width: 90%;
// }

// .bg-primary {
//   background: $main;
//   color: $text-inverse;
//   /*  using 'em' unit because you want the padding scale proportional to its font-size*/
//   padding: 8em 2.5em 2.5em;
// }

.closing-argument {
  .bg-primary {
    text-align: left;
    /* Size padding-left|right proportional to the screen width AND
       size padding-top|bottom proportional to the font-size: font-size
       because vertical spacing is more closely related to the text-height */
    padding-left: 7%; // % of window
    padding-top: 7.5em; // proportional to current font-size;
    padding-bottom: 7.5em;
  }
  .img-box {
    background-image: url("../../img/phone-in-hand.jpg");
    background-size: cover;
    background-position: center;
  }
}
