.main-nav {
  background: $accent;
  position: absolute;
  top: 0;
  // bottom: 0; /* constrained by main-header */
  right: 0;
  left: 100%; // this makes text inside <a> overflow to the left
  height: 100vh;
  font-size: 1.2rem;
  overflow: hidden; // hide overflown text from <a>

  transition: all 250ms ease-in-out;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
  }

  li {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    /* You don't want to have justify-content & align-items center on list item,
  because it makes nesting <a> element only take up the size of its text and
  it will have much smaller space to click | tab on. 
  without jc & ai center, nesting <a> will have full height of its parent and width of its text*/
  }

  a {
    color: $text-inverse;
    text-decoration: none;
    // background: lightblue; /* nice to have while debugging */
    flex-basis: 100%; // makes its width 100% of its parent. more space for tabbing!
    display: flex; // you can flex text content and center-align them!
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      background: rgba(
        0,
        0,
        0,
        0.1
      ); // we want to have monotone regardless of bg for .main-nav
    }
  }

  &.is-open {
    left: 0;
  }
}

// Hamburger Menu
.nav-toggle {
  display: block;
  // background: pink; /* good to have while working on hamburger */
  padding: 1em; // need this to have dimension because it's an empty div
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 2em;
  height: 3px;
  background: white;
  transition: all 250ms ease; // transforming hamburger!
}

.hamburger::before {
  transform: translateY(-6px); // - height of 3px = 3px of space
}

.hamburger::after {
  transform: translateY(3px); // 3 px of space
}

.hamburger.is-open {
  transform: rotate(45deg);

  &::after {
    transform: rotate(90deg) translateX(-1px);
  }

  &::before {
    opacity: 0;
  }
}
