.btn {
  display: inline-block;
  padding: 0.75em 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  &:not(:last-of-type) {
    // not the last button
    margin-bottom: 0.6em;
  }
}

.btn--primary {
  background: $accent;
  color: $text-inverse;
  border: 2px solid $accent; // to match the width of the secondary which was added by the border-width

  // ALWAYS style :hover with :focus for accessibility.
  &:hover,
  &:focus {
    background: darken($accent, 15%);
    border-color: darken($accent, 15%);
  }
}

.btn--secondary {
  border: 2px solid $text-inverse;
  color: $text-inverse;

  &:hover,
  &:focus {
    background: $text-inverse;
    color: $text-main;
  }
}
